.navbar{
    text-align: justify;
}

.col-sm-4{
    margin-top: 10px;
    background-color: #e7ecee;
}

.col-8{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
}

.row{
    display: flex;
    position: relative;
    width: auto;
    margin: 2px;
    padding: 2px;
    border: 2px;
}

.card {
   margin: 2px;
   
}
#forecast {
    display: inline-flex;
    width: auto;
  }

.fiveDay {
    font-size: 14px;
    background-color: #1f6fe6ee;
    color:#ffffff;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}

