.navbar{
    text-align: justify;
}

.col-sm-4{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.colb{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
}

.row{
    padding-left: 10px;
    background-color: #e7ecee;
}